* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    font-size: 16px;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
video {
    max-width: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

input:focus {
    outline: none;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none
}

.tooltip {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1000;
}

.tooltip > span {
    position: absolute;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    overflow: hidden;
    background: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: .325rem .3875rem;
    border-radius: .25rem;
    font-size: .75rem;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.tooltip:hover > span {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .25s linear;
    transition-delay: .5s;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%) scale(1);
}

.icon-btn {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    background-color: initial;
    border-width: 0;
    cursor: pointer;
    padding: 0;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.container.fullscreen {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    border-radius: 0px;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.2s ease;
}

.container.visible .wrapper {
    opacity: 1;
    transition: all 0.13s ease;
}

.wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
    border-radius: .5rem .5rem 0 0;
    z-index: 1;
}

.header-gradient {
    background: linear-gradient(#1d1c1d99,#1d1c1d00);
    height: 5.25rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    visibility: visible;
}

.header .tooltip span {
    top: auto;
}

.header .tooltip:hover span {
    top: 2.5rem;
}

.card {
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;
}

.card img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: .25rem;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.card-info h3 {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    line-height: 1.46668;
    text-shadow: 1px 1px 4px #1d1c1d66;
}

.card-info p {
    font-size: .75rem;
    font-weight: 400;
    color: #fff;
    line-height: 1.50001;
    text-shadow: 1px 1px 4px #1d1c1d66;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #0000;
    border-radius: 0 0 .5rem .5rem;
    box-shadow: none;
    height: 3.25rem;
    padding: .5rem .75rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-gradient {
    background: linear-gradient(#1d1c1d00, #1d1c1d99);
    height: 5.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    visibility: visible;
}

.progress {
    border-radius: .75rem;
    cursor: pointer;
    background: #ffffff80;
    height: .375rem;
    width: auto;
    position: absolute;
    bottom: 100%;
    left: 1rem;
    right: 1rem;
    z-index: 1000;
}

.progress::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: .75rem;
    width: 100%;
}

.track {
    width: 100%;
    height: 100%;
}

.track span {
    position: absolute;
    left: 50%;
    top: -1.5rem;
    font-size: .875rem;
    color: #fff;
    pointer-events: none;
    transform: translateX(-50%);
    display: none;
}

.progress:hover .track span {
    display: block;
}

.progress-bar {
    background: #1d9bd1;
    border-radius: .25rem;
    height: 100%;
    width: 0%;
    position: relative;
}

.progress-bar::before {
    background: #1d9bd1;
    border-radius: 50%;
    content: '';
    height: .875rem;
    opacity: 0;
    position: absolute;
    right: -7px;
    top: -3px;
    transform: scale(.5);
    transition: 80ms cubic-bezier(.36, .19, .29, 1);
    transition-delay: .5s;
    transition-property: transform, opacity;
    width: .875rem;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.controls .column {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.controls .volume-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.controls .volume-wrapper label {
    transition: width 120ms cubic-bezier(.36, .19, .29, 1);
    display: flex;
    align-items: center;
    width: 0;
    overflow: hidden;
    height: .25rem;
    border-radius: .25rem;
    cursor: pointer;
    position: relative;
}

.controls .volume-wrapper:hover label {
    width: 5rem;
    height: .25rem;
    border-radius: .25rem;
    overflow: visible;
    position: relative;
    display: flex;
    align-items: center;
}

.controls .volume-wrapper:hover label input {
    accent-color: #1d9bd1;
    width: 100%;
    height: .25rem;
    border-radius: .25rem;
    outline: none;
    z-index: 1001;
    position: relative;
}

.controls .volume-wrapper:hover label input:hover {
    accent-color: #1d9bd1;
}

.controls .timecodes {
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;
    margin-left: .25rem;
}

.controls .timecodes p,
.controls .timecodes span {
    color: #fff;
    font-size: .875rem;
    line-height: 1.46668;
}

.controls .menu-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: 2rem;
    z-index: 1000;
}

.controls .menu-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .325rem;
    border-radius: .25rem;
    font-size: .875rem;
    color: #fff;
    font-weight: 500;
    height: 1.75rem;
    line-height: 1.38463;
    font-family: system-ui, sans-serif;
    padding: 0;
}

.controls .speed-options {
    position: absolute;
    left: -1rem;
    bottom: 2rem;
    width: 8rem;
    padding: .5rem 0;
    background: rgba(248, 248, 248, 1);
    border-radius: .375rem;
    box-shadow: 0 0 0 1px rgba(29,28,29,.13), 0 5px 10px #0000001f;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.13s ease;
}

.controls .speed-options.visible {
    opacity: 1;
    pointer-events: auto;
}

.controls .speed-options li {
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    cursor: pointer;
    line-height: 1.46668;
    font-size: .875rem;
    font-weight: 400;
    color: rgba(29, 28, 29, 1);
    z-index: 1001;
    position: relative;
}

.controls .speed-options li:hover {
    background: rgba(18, 100, 163, .125);
}

.controls .speed-options li.selected {
    background: #1264a3;
    color: #fff;
}